* {
	font-family: 'Roboto', sans-serif;
}
body {
	padding-top: 160px;
}
.outra-fonte {
	font-family: 'Montserrat', sans-serif;
}
a,
a:hover {
	text-decoration: none !important;
}

.navbar {
	border: none !important;
}
.navbar-default {
	background-color: #ffffff !important;
  border-color: transparent !important;
  z-index: 1000;
  width: 100%;
  padding-top: 8px;
  transition: 0.2s;
  border-radius:  0 !important;
  margin-bottom: 0px !important;
  transition: 0.2s;
}
ul.nav.navbar-nav {
	margin-top: 30px !important;
}
.home div#bs-example-navbar-collapse-1 {
	padding: 0px;
	border: none !important;
	position: relative;
}
div#bs-example-navbar-collapse-1 {
	padding: 0px;
	padding-bottom: 50px;
	position: relative;
	border: none !important;
}
.navbar-default .navbar-nav>li>a {
	color: #333333 !important;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	transition:  0.2s;
}
.navbar-default .navbar-nav>li>a:hover {
	text-decoration: underline !important;
}
.navbar-nav>li {
	transition: 0.2s;
	padding-bottom: 11px;
}
.navbar-nav {
	margin-top: 10px !important;
}
.navbar form {
	margin-top: 38px;
	text-align: right;
}
.navbar form li {
	padding-right: 0px;
	margin-left: 10px;
}
.navbar form input {
	width: 170px;
}
.navbar form input {
	color: #727272;
	border: 1px solid rgba(102, 102, 102, 0.5);
  border-radius: 2px;
  padding: 5px 10px;
  box-shadow: 2px 3px 3px rgb(0 0 0 / 25%);
}
.navbar form button#searchsubmit {
	background: #ffffff;
	font-weight: bold;
	position: absolute;
  right: 8px;
  bottom: 4px;
  border: none;
  box-shadow: none;
}
.navbar form button#searchsubmit i {
	color: #333333 !important;
}
.navbar form input::-webkit-input-placeholder {
  color: #adadad;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.navbar form input::-moz-placeholder {
  color: #adadad;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.navbar form input:-ms-input-placeholder {
  color: #adadad;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.navbar form input:-moz-placeholder {
  color: #adadad;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

header {
	padding-bottom: 30px;
	position: fixed;
	top: 0px;
  width: 100%;
  z-index: 1000;
}
header .navbar-default {
	height: 160px;
	padding-top: 20px;
	box-shadow: 0 0px 8px -5px #000;
}
header .col-busca {
	text-align: right;
}
header .col-busca a {
	color: #000000;
}
header .col-busca i {
	margin-top: 45px;
}
header .campo-busca {
	opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  position: absolute;
  top: 0;
  right: 0;
}
header .campo-busca.open-field {
	opacity: 1 !important;
  visibility: visible !important;
}
header .menu-catalogo {
	position: relative;
}
header .menu-catalogo a i {
	transition: 0.2s;
}
header .menu-catalogo a i.icon-change {
	transform: rotate(180deg);
}
header .menu-catalogo .sub-menu-catalogo {
	position: absolute;
	width: 100%;
  text-align: center;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 1000;
}
header .menu-catalogo .sub-menu-catalogo ul {
	padding: 0px;
	list-style: none;
}
header .menu-catalogo .sub-menu-catalogo ul li {
	padding: 5px;
	border: 1px solid rgba(102, 102, 102, 0.5);
	transition: 0.2s;
}
header .menu-catalogo .sub-menu-catalogo ul li:hover {
	background: #F2F2F2
}
header .menu-catalogo .sub-menu-catalogo ul li a {
	color: #000;
}
header .menu-catalogo .sub-menu-catalogo ul li a:hover {
	text-decoration: underline !important;
}
.menu-open {
	opacity: 1 !important;
	visibility: visible !important;
	position: relative !important;
}

header .logo-header,
header .logo-header-scroll {
	position: absolute;
	width: 85px;
}
header .col-logo-header .logo-header-scroll,
header .col-logo-header.menu-scroll .logo-header {
	opacity: 0;
	transition: 0.2s;
}
header .col-logo-header.menu-scroll .logo-header-scroll {
	opacity:  1;
}

.banner-home {
	background-attachment: fixed !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height: 640px;
	position: relative;
	overflow: hidden;
}
.banner-home .box-texto {
	margin-top: 70%;
	z-index: 100;
  position: relative;
  opacity: 0;
  transition: 0.2s;
}
.banner-home:hover .box-texto {
	opacity: 1 !important;
}
.banner-home .box-texto h2 {
	color: #26211F;
	font-size: 45px;
	font-weight: 700;
}
.banner-home .box-texto .btn-banner {
	margin-top: 20px;
}
.banner-home .box-texto .btn-banner a {
	color: #26211F;
  font-size: 25px;
  font-weight: 400;
  border: 1px solid;
  padding: 10px 18px;
  border-radius: 25px;
  transition: 0.2s;
}
.banner-home .box-texto .btn-banner a:hover {
	color: #ffffff;
	background: #26211F;
	border-color: #26211F;
	text-decoration: underline !important;
}
.banner-home .filter {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 60%;
    height: 100%;
}

.categorias-home {
	padding-top: 50px;
	padding-bottom: 70px;
}
.categorias-home h2 {
	color: #26211F;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.categorias-home .col-categorias-home {
	text-align: center;
}
.categorias-home a:hover {
	color: #26211F;
	text-decoration: underline !important;
}
.categorias-home a img {
	margin-bottom: 10px;
	width: 100%;
}
.categorias-home a,
.categorias-home a span {
	color: #26211F;
	font-size: 25px;
	font-weight: bold;
}

.produtos-home {
	padding-top: 80px;
	padding-bottom: 50px;
}
.produtos-home .col-produtos-home {
	margin-bottom: 20px;
	min-height: 420px;
}
.produtos-home a,
.produtos-home h5 {
	color: #333333;
	font-size: 20px;
	font-weight: 700;
}
.produtos-home a img {
	width: 100%;
}
.produtos-home a img:hover {
	opacity: 0.7;
	transition: all 0.4s ease-in-out;
	transform: scale(1.1);
}
.produtos-home .mask {
	background-color: #000;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.section-imagem-home {
	background: url("../img/bgsection.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
}

.banner-produto-destaque {
	background-attachment: fixed !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height: 640px;
	position: relative;
	overflow: hidden;
}
.banner-produto-destaque .box-texto {
	margin-top: 250px;
	z-index: 100;
  position: relative;
  text-align: center;
}
.banner-produto-destaque .box-texto h2 {
	color: #26211F;
	font-size: 45px;
	font-weight: 700;
}
.banner-produto-destaque .box-texto p {
	color: #26211F;
	font-size: 18px;
	font-weight: 500;
}
.banner-produto-destaque .box-texto .btn-banner {
	margin-top: 40px;
}
.banner-produto-destaque .box-texto .btn-banner a {
	color: #26211F;
    font-size: 25px;
    font-weight: 400;
    border: 1px solid;
    padding: 10px;
    border-radius: 25px;
    transition: 0.2s;
}
.banner-produto-destaque .box-texto .btn-banner a:hover {
	color: #ffffff;
	background: #26211F;
	border-color: #26211F;
}
.banner-produto-destaque .filter {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 100%;
    height: 100%;
}

.page-sobre {
	padding-top: 50px;
}
.page-sobre h1 {
	color: #26211F;
	font-size: 45px;
	font-weight: bold;
	margin-top: 0px;
}
.page-sobre p {
	color: #666666;
	font-size: 20px;
}
.page-sobre .img-sobre {
	width: 100%;
	margin-bottom: 50px;
}

.page-contato {
	padding-top: 50px;
}
.page-contato .col-conteudo-contato {
	padding-left: 28px;
}
.page-contato h1 {
	color: #26211F;
	font-size: 45px;
	font-weight: bold;
	margin-top: 0px;
}
.page-contato p {
	color: #666666;
	font-size: 20px;
}
.page-contato .img-contato {
	width: 100%;
	margin-bottom: 50px;
}
.page-contato form {
	margin-top: 40px;
}
.page-contato form textarea {
	height: 160px;
	border-radius: 30px !important;
}
.page-contato form input,
.page-contato form textarea {
	color: #adadad;
  font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	border: 1px solid #26211F;
	border-radius: 50px;
	width: 100%;
}
.page-contato form input[type=submit] {
	color: #ffffff;
	background: #26211F;
	float: right;
  position: relative;
  padding: 23px;
  top: -90px;
  float: left;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.page-contato .wpcf7 form .wpcf7-response-output {
	position: absolute;
  bottom: 0;
  width: 90%;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
}

::-webkit-input-placeholder {
  color: #adadad;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
::-moz-placeholder {
  color: #adadad;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
:-ms-input-placeholder {
  color: #adadad;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
:-moz-placeholder {
  color: #adadad;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.page-taxonomy {
	padding-top: 50px;
}
.page-taxonomy .col-titulos {
	text-align: center;
	margin-bottom: 20px;
}
.page-taxonomy .col-titulos h2 {
	color: #26211F;
	font-size: 35px;
	font-weight: bold;
}
.page-taxonomy .col-titulos p {
	color: #666666;
	font-size: 20px;
	padding: 0px 100px;
}
.page-taxonomy .borda-vertical {
	height: 200px;
    border-right: 2px solid #ddd;
    display: block;
    margin: 50px auto;
    width: 2px;
}
.page-taxonomy .col-produtos {
	margin-bottom: 20px;
	min-height: 420px;
}
.page-taxonomy .col-produtos a,
.page-taxonomy .col-produtos h5 {
	color: #333333;
	font-size: 20px;
	font-weight: 700;
}
.page-taxonomy .col-produtos a img {
	width: 100%;
}
.page-taxonomy .col-produtos a img:hover {
	opacity: 0.7;
	transition: all 0.4s ease-in-out;
	transform: scale(1.1);
}
.page-taxonomy .col-produtos .mask {
	background-color: #000;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.page-taxonomy .wp-pagenavi {
	text-align: center;
	font-size: 20px;
}
.page-taxonomy .wp-pagenavi a, 
.page-taxonomy .wp-pagenavi span {
	color: #666666;
	border: 1px solid #214943;
  padding: 10px 16px;
  margin: 2px;
  border-radius: 25px;
}
.page-taxonomy .wp-pagenavi a.page.smaller, 
.page-taxonomy .wp-pagenavi a.page.larger, 
.page-taxonomy .wp-pagenavi a.nextpostslink, 
.page-taxonomy .wp-pagenavi a.previouspostslink {
	text-decoration: underline !important;
	margin:  0px 5px;
}
.page-taxonomy .wp-pagenavi span.current {
	font-weight: 400;
}

.resultados-busca h4 {
	font-size: 24px;
	margin: 20px 0px;
}
.resultados-busca h4 span {
	font-weight: bold;
}
.resultados-busca a.link-resultado {
	color: #000;
  font-size: 18px;
}
.resultados-busca .col-produtos {
	margin-bottom: 20px;
	min-height: 420px;
}
.resultados-busca .col-produtos a,
.resultados-busca .col-produtos h5 {
	color: #333333;
	font-size: 20px;
	font-weight: 700;
}
.resultados-busca .col-produtos a img {
	width: 100%;
}
.resultados-busca .col-produtos a img:hover {
	opacity: 0.7;
	transition: all 0.4s ease-in-out;
	transform: scale(1.1);
}
.resultados-busca .col-produtos .mask {
	background-color: #000;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.single-produtos {
	padding-top: 100px;
}
.single-produtos #slide-produtos .item img {
	width: 80%;
}
.single-produtos #slide-produtos .owl-nav {
	position: absolute;
	top: 40%;
	width: 80%;
}
.single-produtos #slide-produtos button.owl-prev {
	float: left;
	position: relative;
  left: -30px;
}
.single-produtos #slide-produtos button.owl-next {
	float: right;
	position: relative;
  right: -30px;
}
.single-produtos #slide-produtos .owl-nav i {
	font-size: 25px;
}
.single-produtos .col-descricao a.link-catalogo:hover {
	text-decoration: underline !important;
}
.single-produtos .col-descricao span {
	color: #26211F;
	font-size: 15px;
	text-transform: uppercase;
}
.single-produtos .col-descricao h5 {
	color: #26211F;
	font-size: 28px;
	font-weight: 700;
}
.single-produtos .col-descricao p {
	color: #666666;
	font-size: 20px;
}
.single-produtos .col-descricao hr {
	border-top: 2px solid #666666;
}
.single-produtos .infos-produto p {
	display: inline;
	line-height: 35px;
}
.single-produtos .btn-single-produto {
	margin-top: 30px;
}
.single-produtos .btn-single-produto a {
	color: #26211F;
  font-size: 25px;
  font-weight: 400;
  border: 1px solid;
  padding: 10px;
  border-radius: 25px;
  transition: 0.2s;
}
.single-produtos .btn-single-produto a:hover {
	color: #ffffff;
	background: #26211F;
  border-color: #26211F;
}
.single-produtos .col-slider {
	padding: 0px;
}
.single-produtos .col-slider img {
	width: 100%;
	opacity: 0.5;
}
.single-produtos .col-slider a.button-active img {
	opacity: 1 !important;
}
.single-produtos .produtos-relacionados {
	margin: 100px 0px;
}
.single-produtos .produtos-relacionados h2 {
	color: #26211F;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.single-produtos .produtos-relacionados a,
.single-produtos .produtos-relacionados h5 {
	color: #333333;
	font-size: 25px;
	font-weight: 700;
}
.single-produtos .produtos-relacionados a img {
	margin-bottom: 10px;
	width: 100%;
}

footer {
	background: #F2F2F2;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 80px;
}
footer ul {
	padding: 0px;
	list-style: none;
}
footer ul li {
	display: inline;
}
footer ul li a,
footer ul li a:hover {
	color: #333333;
}
footer ul li i {
	color: #ffffff;
	background: #333333;
	border: 1px solid;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 5px;
  transition: 0.2s;
}
footer ul li i:hover {
	color: #333333;
	background: transparent;
}
footer ul li i.fa-instagram {
	padding: 10px 12px;
}
footer .logo-footer {
	width: 40%;
	float: right;
	margin-top: 40px;
}

@media (max-width: 767px) {
	body {
		padding-top: 130px;
	}
	header .navbar-default {
		height: 130px !important;
	}
	div#bs-example-navbar-collapse-1 {
		background: #ffffff;
		margin-top: 18px;
		top: 40px;
	}
	ul.nav.navbar-nav {
		float: none;
	}
	button.navbar-toggle .icon-bar {
		position: relative;
		transition: 0.2s;
	}
	button.navbar-toggle .icon-bar-1 {
		opacity: 0;
	}
	button.navbar-toggle .icon-bar-2 {
		transform: rotate(45deg);
	}
	button.navbar-toggle .icon-bar-3 {
		transform: rotate(-45deg);
		top: -5px;
	}
	button.navbar-toggle.collapsed .icon-bar-1 {
		opacity: 1;
	}
	button.navbar-toggle.collapsed .icon-bar-2 {
		transform: rotate(0deg);
	}
	button.navbar-toggle.collapsed .icon-bar-3 {
		transform: rotate(0deg);
		top: 0px;
	}
	.navbar .logo-header {
		width: 70px;
    margin-left: 25px;
    margin-top: -8px;
	}
	.navbar-default .navbar-toggle {
		border:  none;
		top: 20px;
		margin-right: 20px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #000 !important;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: transparent !important;
	}
	.navbar-default .navbar-nav>li>a {
		color: #000 !important;
		text-align: center;
	}
	.navbar form {
		text-align: center;
		display: inline;
	}
	.navbar form ul {
		padding: 0px;
	}
	.navbar form ul li {
		display: block;
		margin-bottom: 10px;
	}
	.navbar form input {
		width: auto;
		margin-left: 20px;
	}
	.navbar form input, 
	.navbar form button {
		border: 2px solid #000;
	}
	.navbar form input[type=submit] {
		background: #000;
		color: #ffffff;
	}
	.navbar form button#searchsubmit {
		position: relative;
    right: 38px;
    bottom: 0px;
	}
	header .col-busca {
		text-align: center;
		padding-bottom: 40px;
	}
	header .col-busca i {
		margin-top: 0px;
	}
	header .campo-busca {
		opacity: 1 !important;
    visibility: visible !important;
    position: relative;
    margin-bottom: 50px;
	}
	.banner-home {
		background-size: auto !important;
		background-attachment: initial !important;
		height: 400px;
	}
	.banner-home .box-texto {
		margin-top: 40%;
		text-align: center;
		opacity: 1;
	}
	.banner-home .filter {
		width: 100%;
	}
	.categorias-home {
		text-align: center;
		padding: 40px 0px;
	}
	.categorias-home a img {
		width: 90%;
	}
	.categorias-home .col-categorias-home {
		margin-bottom: 40px;
	}
	.section-imagem-home {
		background-size: auto;
		background-attachment: initial;
		height: 400px;
	}
	.produtos-home {
		padding: 40px 0px;
	}
	.produtos-home .col-produtos-home {
		margin-bottom: 40px;
		min-height: auto;
	}
	.banner-produto-destaque {
		background-attachment: initial !important;
	}
	.banner-produto-destaque .box-texto {
		text-align: center;
	}
	.banner-produto-destaque .box-texto h2 {
		font-size: 25px;
	}
	.banner-produto-destaque .box-texto p {
		font-size: 16px;
	}
	.banner-produto-destaque .filter {
		width: 100%;
	}
	.page-contato form input, .page-contato form textarea {
		width: 100%;
	}
	.page-contato form input[type=submit] {
		float: none;
	    border-top-left-radius: 50px;
	    border-bottom-left-radius: 50px;
	    position: relative;
	    top: 0;
	    padding: 20px;
	    left: 0;
	    width: 100%;
	}
	.resultados-busca h4 {
		text-align: center;
	}
	.resultados-busca .col-produtos {
		margin-bottom: 40px;
		min-height: auto;
	}
	.page-taxonomy .col-titulos {
		margin-bottom: 20px;
	}
	.page-taxonomy .col-titulos p {
		padding: 0px;
	}
	.page-taxonomy .col-produtos {
		min-height: auto;
	}
	.page-taxonomy .col-produtos .mask {
		width: 90%;
		margin: auto;
	}
	.page-taxonomy .col-produtos a, .page-taxonomy .col-produtos h5 {
		margin: 20px 30px 0px 30px;
	}
	.single-produtos .col-descricao {
		margin-top: 50px;
	}
	.single-produtos #slide-produtos .item img {
		width: 100%;
	}
	.single-produtos #slide-produtos button.owl-prev {
		left:  -20px;
	}
	.single-produtos #slide-produtos button.owl-next {
		right: -80px;
	}
	.single-produtos .col-slider {
		padding: 5px;
	}
	.page-sobre,
	.page-contato,
	.page-taxonomy,
	.single-produtos {
		padding-top: 70px;
	}
	footer {
		text-align: center;
		padding: 50px 0px;
	}
	footer .logo-footer {
		float: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.categorias-home .col-categorias-home {
		margin-bottom: 40px;
	}
	.page-contato form input[type=submit] {
		float: none;
	    border-top-left-radius: 25px;
	    border-bottom-left-radius: 25px;
	    position: relative;
	    top: 0;
	    padding: 20px;
	    left: 0;
	    width: 100%;
	}
	footer {
		text-align: center;
	}
	footer .logo-footer {
		float: none;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.banner-home .box-texto h2 {
		font-size: 40px;
	}
	.page-contato form input[type=submit] {
		left: 40px;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.banner-home,
	.section-imagem-home,
	.banner-produto-destaque {
		background-attachment: initial !important;
	}
	.banner-home .box-texto {
		opacity: 1;
	}
	.produtos-home a, .produtos-home h5 {
		text-align: center;
	}
	.single-produtos #slide-produtos .owl-nav {
		width: 100%;
	}
	.single-produtos #slide-produtos button.owl-next {
		right: 0px;
	}
	.single-produtos #slide-produtos .item img {
		width: 90%;
	}
}






